@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Inconsolata", monospace;
}
input {
  /* background-color: transparent; */
  border: none;
  outline: none;
  width: 50vw;

  color: #000000;
}
@media screen and (max-width: 2000px) {
  input {
    border: none;
    outline: none;
    width: 45vw;

    color: #000000;
  }
}

@media screen and (max-width: 520px) {
  input {
    border: none;
    outline: none;
    width: 20vw;

    color: #000000;
  }
}
@media screen and (max-width: 1024px) {
  .main-img-div {
    margin: auto;
    width: 250px;
  }
}
@media screen and (max-width: 636px) {
  .main-heading {
    font-size: 1.3rem;
  }
  .section-h1 {
    font-size: 1rem;
  }
  .main-img-div {
    margin: auto;
  }
}
@media screen and (max-width: 540px) {
  .section-h1 {
    font-size: 0.7rem;
  }
  .mt-up {
    margin-top: 1.25rem;
  }
}
@media screen and (max-width: 450px) {
  .section-h1 {
    font-size: 0.5rem;
    display: flex;
    flex-wrap: wrap;
  }
  .joining {
    font-size: 0.7rem;
    margin-top: 0.6rem;
  }
  .profile-image {
    margin: auto;
  }
}
@media screen and (max-width: 520px) {
  .profile-image {
    margin: auto;
    width: 200px;
  }
}
body,
html {
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.section {
  flex-grow: 1;
}

.section-01 {
  background-color: #f0f0f0;
  flex-basis: 30%;
}

.section-02 {
  background-color: #c0c0c0;
  flex-basis: 70%;
}

.erroredField {
  border: 2px solid red;
  border-radius: 10px;
}
